body{
    overflow-x: hidden;
}
.contain{
    background-image: url(../image/h_img.jpg);
    background-position: center;
    height: auto;
    background-size: cover;
    text-decoration-color: rgb(250, 243, 243);
    padding-top: 25%;
    text-align: center;

}
.front{
    padding-top: 15%;

}
#mouse{
    padding-top: 15%;
    padding-bottom: 2%;

}
#aboutus{
    padding-top: 5%;
    padding-bottom: 2%;
    font-size: 16px;
    text-align: center;

}
.services{
    background-image: url(../image/s_image\ \(1\).jpg);
    text-align: center;
    padding-top: 10%;
    padding-bottom: 7%;
    color: white;
    font-family: 'Yantramanav',sans-serif,;
}
.what{
    padding-top: 2%;
    text-align: center;
}
.container-fluid, .center{
    color: black;
    justify-content: center;
    text-align: center;
    font-size: x-small;
    font-family: 'Amaranth', sans-serif;
}
#form{
    background-image: url(../image/c_image\ \(1\).jpg);
}
#name{
    margin-left: 12%;
    color: white;
}
#email{
    margin-left: 5%;
    color: white;
}


#design , #development , #product{
    display: none;
}
.all{
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    
}
#head{
    text-align: center;
}
#work1, #work2, #work3, #work4, #work5, #work6, #work7, #work8{
    text-align: center;
    position: relative;
}
#white{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.write1, .write2, .write3, .write4, .write5, .write6, .write7, .write8{
    display: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding-top: 25px;
    background-color: rgba(0, 0 , 0, 0.55);
    
}
.col-md-3 img{
    max-width: 100%;
    max-height: 100%;
    margin: 15px;
}
.textalign{
    text-align: center;
}